body {
    font-family: Arial, sans-serif;
    /*background: linear-gradient(to right, blue, rgba(0, 0, 0, 0)), url(https://grainy-gradients.vercel.app/noise.svg);*/
    background-color: #2d2d2d;
    color: #fda300;
}

h2 {
    text-align: center;
    font-size: 60px;
}


ul {
    list-style-type: none;
    padding: 0;
}

/* report list /
li {
    border: 1px solid red;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
}

/ nav bar buttons */
.nav-container {
    display: flex; 
    background-color: #102030;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;

}

.right-links {
    display: flex; 
    margin-left: auto;
}

.right-links a {
    margin-left: 20px;
}

a  {
    display: block;
    padding: 10px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #fda300;
    border: 2px solid #fda300;
    border-radius: 8px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all .35s;
}

a span {
    position: relative;
    z-index: 2;
}

a:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffc619;
    transition: all .35s;
    z-index: 1;
}

a:hover {
    color: red;
}

a:hover:after {
    width: 100%;
}

#reportButton {
    border-color: red;
    color: red;
}

#reportButton:after {
    background: red; 
}
/*#map{
    z-index: -1;
}
    */

#descriptionTitle {
    font-weight: 400;
    font-size: 25px;
    margin-left: 10px;
}

#input{
    border: 2px solid #fda300;
    border-radius: 4px;
    background-color: #2d2d2d;
    color: #fda300;
    padding: 3px;
    font-size: 15;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#input[type="date"]{
    background-color: #2d2d2d;
    padding: 3px;
    position: absolute;
    font-family: "Roboto Mono",monospace;
    color: #fda300;
    font-size: 15px;
    border: 2px solid #fda300;
    outline: none;
    border-radius: 5px;
}

#inputSubmit {
    border: 2px solid #fda300;
    border-radius: 4px;
    background-color: #2d2d2d;
    color: #fda300;
    padding: 3px;
    font-size: 15;
    margin-bottom: 35px;
    margin-left: 10px;
}

::-webkit-calendar-picker-indicator{
    background-color: #fda300;
    cursor: pointer;
    border-radius: 10px;
}
